<div class="displayBox">
    <h3>Candidates</h3>
    <ul>
        <li (click)="addCrewMember(member)" *ngFor="let member of candidates" [class.selected]="crew.includes(member)">{{member.name}}</li>
    </ul>
</div>
<hr>
<div class="displayBox">
    <h3>Crew <span [hidden]="crew.length<3">Full</span></h3>
    <ol>
        <li *ngFor="let astronaut of crew" (mouseover)="photo=astronaut.photo;photoShow=false" (mouseout)="photo=astronaut.photo;photoShow=true">{{astronaut.name}}</li>
    </ol>
    <div [hidden]="photoShow" >
        <img [src]="photo"><!-- Add an img tag here to display astronaut photos. -->
    </div>
</div>
